.homeContainer {
  /* width: 100%; */
  /* background-color: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.654), rgba(0, 0, 0, 0.75)),
    url("../images/backgroundImgGYM.png");
  /* height: 50vh; */
  width: 100%;
  object-fit: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.homeBackground {
  /* background: linear-gradient(rgba(0, 0, 0, 0.654), rgba(0, 0, 0, 0.75)),
    url("../images/backgroundImgGYM.png");
  background-position: top;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 500px 100px 200px;
  width: 100%;
  max-width: 100%; */
}

.homeContentSection {
  width: 70%;
}

.homeTitle {
  /* display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center; */
  padding-right: 15rem;
  padding-top: 8rem;
  /* margin-left: 18rem; */
  color: #e6e4e4;
  font-size: 80px;
  width: 100%;
  text-transform: uppercase;
  /* background-color: rgba(0, 0, 0, 0.11); */
}

.homeSubTitle {
  color: #e6e5e4;
  font-size: 13px;
  /* margin-left: 18rem; */
  /* width: 35%; */
  text-transform: uppercase;
  /* background-color: rgba(0, 0, 0, 0.11); */
}

.inputSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 40px;
}

.inputBox {
  width: 500px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.627);
  padding-left: 10px;
  font-size: 25px;
  color: #e6e4e4;
  position: relative;
  border-color: #f8b500;
}

.inputBox::placeholder {
  color: #f1f1f19c;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

/* replace by search icon  */
.searchBtn {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.627);
  padding-left: 5px;
  font-size: 25px;
  color: #f1f1f1;
  cursor: pointer;
  margin-left: 1px;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  padding: 0 4px 0 4px;
}

.searchBtn:hover {
  background-color: #ffffff2b;
  color: black;
}

@media (max-width: 1300px) {
  .homeContainer {
    padding: 0;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .homeContentSection {
    width: 100%;
  }

  .homeTitle {
    font-size: 60px;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 960px) {
  .homeContainer {
    padding: 0;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .homeTitle {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  /* .homeContent {
    display: flex;
    flex-direction: column;
  } */

  .homeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    margin: 0;
  }

  .homeTitle {
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
    /* background: -webkit-linear-gradient(45deg, #f3d486, #e8c157);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  .homeSubTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .inputBox {
    height: 50px;
    margin-left: 60px;
    width: 400px;
  }

  .inputBox::placeholder {
    font-size: 25px;
  }

  .searchBtn {
    height: 40px;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

  .inputSection > span {
    margin: 0;
    padding: 0;
  }
}
