.footerSection {
  background-color: #000000f3;
  color: #f1f1f1;
  font-family: "Bebas Neue", cursive;
}

.footerFlex {
  display: flex;
  justify-content: center;
  padding: 50px 0 100px 0;
}

.footerContainer {
  letter-spacing: 1px;
  text-decoration: none;
}

.footerContentFlex {
  margin-left: 50px;
  margin-right: 50px;
}

.footerTitle {
  font-size: 18px;
  margin-bottom: 30px;
  width: 225px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  color: #e8c157;
  cursor: pointer;
  position: relative;
}

.footerTitle:hover {
  color: #f1f1f1;
}

.footerSubtitle {
  font-size: 15px;
  font-weight: 700;
  width: 225px;
  letter-spacing: 2px;
  cursor: pointer;
}

.footerSubtitle li:hover {
  color: #e8c157;
}

li {
  list-style: none;
}

.footerSubscribe {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-left: 2px;
  border: 1px solid #fbb906;
  background-color: transparent;
  border-radius: 4px;
  color: #f1f1f1;
}

.footerSubscribe::placeholder {
  font-family: "Poppins", sans-serif;
}

.subscribeBtn {
  font-family: "Poppins", sans-serif;
  background-color: #e8c157;
  padding: 1px 2px 1px 2px;
  margin-top: 2px;
}

.subscribeBtn:hover {
  background-color: #fbb906;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  color: #000;
  font-size: 14px;
  font-family: "Bebas Neue", cursive;

  border: 1px solid grey;
  width: 150px;
  border-radius: 6px;
}

.menu > li {
  margin: 0;

  background-color: #e8c157;
}

.menu > li:hover {
  background-color: #fbb906;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .footerContainer {
    margin: 0;
    padding: 20px 0 0 0;
  }
  .footerContentFlex {
    margin: 0;
    padding: 0;
  }

  .footerFlex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footerTitle {
    font-size: 20px;
    margin: 0;
  }

  .footerSubtitle {
    font-size: 18px;
    margin: 0;
  }

  .footerLevelContent {
    font-size: 10px;
  }

  .menu {
    margin-top: 2.7rem;
    position: absolute;
  }
}

@media (max-width: 800px) {
  .footerContainer {
    margin: 0;
    padding: 20px 0 0 0;
  }
  .footerContentFlex {
    margin: 0;
    padding: 0;
  }

  .footerFlex {
    display: flex;
    justify-content: space-around;
    flex-direction: col;
    flex-wrap: wrap;
  }
  .footerTitle {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
  }

  .footerSubtitle {
    font-size: 18px;
    margin: 0;
  }

  .footerLevelContent {
    font-size: 10px;
  }

  .menu {
    margin-top: 2.7rem;
    position: absolute;
  }
}
