.homeContentContainer {
  background: linear-gradient(180deg, #000000, #434343);
  font-family: "Bebas Neue", cursive;
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 50% 100%, 0 95%); */
  border-top: 2px solid #f8b500;
  padding-bottom: 4rem;
}

.homeFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 12em;
  margin-right: 12em;
}

.card {
  background: linear-gradient(90deg, #e0bc5f, #f8b500);
  /* width: 250px;
  height: 350px; */
  width: 16rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  margin-right: 3rem;
  margin-top: 4rem;
  /* boxShadow: "12px 12px 12px 12px black;", */
  box-shadow: 4px 4px 4px 4px black;
  transition: 0.1s ease;
}

.card:hover {
  background: linear-gradient(90deg, #fdcf5a, #e8c157);
  box-shadow: 1px 1px 1px 1px #ae8a27;
}

.imgOne {
  width: 16rem;
  height: 15rem;
  /* background: linear-gradient(rgba(0, 0, 0, 0.654), rgba(0, 0, 0, 0.75)); */
}

.card > span {
  color: #000;
  display: flex;
  padding: 5px 10px 1px 10px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}

.cardInfo {
  text-align: left;

  color: #464545;
  font-weight: 500;
  border-radius: 8px;
  padding: 1px 10px 1px 10px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.cardClick {
  font-size: 15px;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

@media (max-width: 1300px) {
  .homeFlex {
    margin-left: 0;
    margin-right: 0;
  }
  .card {
    margin: 0.75rem;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .homeContentContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 100%, 0 100%);
    padding: 0;
    height: 100%;
    margin: 0;
    padding-bottom: 40px;
  }

  .homeFlex {
    margin: 0;
  }

  .card {
    /* height: 540px; */
    width: 100%;
    margin: 15px 10px 15px 10px;
    /* margin-left: 50px; */
    /* margin-top: 100px; */
    /* margin-bottom: 0; */
    /* margin-right: 50px; */
    /* padding: 0; */
    background: linear-gradient(90deg, #f1c556, #feba00);
  }

  .card > span {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0;
  }

  .card > p {
    font-size: 18px;
  }

  .imgOne {
    height: 450px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .price {
    display: none;
  }
}
