.footerSection {
  background-color: #000000f3;
  color: #f1f1f1;
  font-family: "Bebas Neue", cursive;
}

.footerContainer {
  letter-spacing: 1px;
  text-decoration: none;
  padding: 50px 0 100px 0;
  display: flex;
  justify-content: center;
}

.footerContentFlex {
  width: 275px;
}

.footerTitle {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  color: #e8c157;
  cursor: pointer;
}

.footerTitle:hover {
  color: #f1f1f1;
}

.footerSubtitle {
  font-size: 15px;
  font-weight: 700;
  padding-right: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

.footerSubtitle li:hover {
  color: #e8c157;
}

li {
  list-style: none;
}

.footerSubscribe {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-left: 2px;
}

.footerSubscribe::placeholder {
  font-family: "Poppins", sans-serif;
}

.subscribeBtn {
  font-family: "Poppins", sans-serif;
  background-color: #e8c157;
  padding: 1px 2px 1px 2px;
  margin-top: 2px;
}

.subscribeBtn:hover {
  background-color: #fbb906;
}
@media (max-width: 1500px) {
  .footerTitle {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .footerContainer {
    margin: 0;
    padding: 20px 0 0 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footerTitle {
    font-size: 20px;
    margin: 0;
  }

  .footerSubtitle {
    font-size: 18px;
    margin: 0;
  }

  .footerLevelContent {
    font-size: 10px;
  }
}
