.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  backdrop-filter: blur(8px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

.modalContainer {
  width: 40%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(90deg, #745c00, #110000);
  box-shadow: 12px 12px 12px 12px black;
}

.closeBtn {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10px;
}

.xBtn {
  font-size: 25px;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.modalContent {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
}

.modalFlex {
  padding: 0 50px 0 50px;
}

.modalTitle {
  font-weight: 400;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.modalInput {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
}

.modalInput:placeholder-shown {
  padding-left: 4px;
}

.loginFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.loginFlex button {
  padding: 8px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #9f7f00;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.1s ease-in;
}

.loginFlex button:hover {
  background-color: #5555558a;
}

/* .loginFlex button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent #9f7f00);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.loginFlex button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #c59e02);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.loginFlex button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(180deg, transparent, #f0c312);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.loginFlex button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #6d5802);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
} */

@media only screen and (max-width: 699px) {
  .modalContainer {
    width: 85%;
    height: 60%;
  }
}
@media only screen and (max-width: 375px) {
  .modalInput {
    padding: 10px 30px;
  }
}
