.homeBackgroundImg {
  background: linear-gradient(rgba(0, 0, 0, 0.654), rgba(0, 0, 0, 0.75)),
    url("../images/backgroundImgGYM.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.homeTitle {
  /* display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
  padding-right: 15rem; */
  padding-top: 12rem;
  margin-left: 18rem;
  color: #e6e4e4;
  font-size: 80px;
  width: 35%;
  text-transform: uppercase;
  /* background-color: rgba(0, 0, 0, 0.11); */
}

.homeSubTitle {
  color: #e6e5e4;
  font-size: 13px;
  margin-left: 18rem;
  width: 35%;
  text-transform: uppercase;
  /* background-color: rgba(0, 0, 0, 0.11); */
}

.inputSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.inputBox {
  width: 400px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.627);
  padding-left: 10px;
  font-size: 25px;
  color: #e6e4e4;
  position: relative;
  border-color: #f8b500;
}

.inputBox::placeholder {
  color: #f1f1f19c;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

/* replace by search icon  */
/* .searchBtn {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.627);
  padding-left: 5px;
  font-size: 25px;
  color: #f1f1f1;
  cursor: pointer;
  margin-left: 1px;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  padding: 0 4px 0 4px;
}

.searchBtn:hover {
  background-color: #ffffff2b;
  color: black;
} */

@media (max-width: 600px) {
  .homeTitle {
    text-align: center;
    font-size: 60px;
    margin: 0;
    width: 100%;
    background: -webkit-linear-gradient(45deg, #f3d486, #e8c157);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .homeSubTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .inputBox {
    height: 50px;
  }

  .inputBox::placeholder {
    font-size: 25px;
  }

  .searchBtn {
    height: 40px;
    font-size: 20px;
    padding: 0;
  }
}
